:root {
  --table-color: #ca5843;
  --wall-color: #754147;
  --blinds-color: #313051;
  --window-color: #362f3c;
  --frame-color: #8e372a;
  --coin-yellow: #edbf06;
  --todo-list-color: #eaa695;
  --uncommon-item: #a1db4a;
  --epic-item: #e040fb;
}

body {
  background-color: var(--wall-color);
}

.todo__wrapper {
  margin: 0 auto;
  position: relative;
}

.todo {
  position: absolute;
}

.todo__container {
  position: fixed;
  right: 3rem;
  top: 15rem;
  padding: 8rem 4rem 8rem;
  background-color: var(--todo-list-color);
  border-radius: 3px;
}

.table {
  padding: 4.5rem 0 2rem;
  position: flex;
  margin-top: 2.1rem;
  bottom: 0;
  width: 100%;
  background-color: var(--table-color);
  color: var(--text-color-light);
}

.table__container {
  max-width: 1820px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding: 2.2rem;
  text-align: center;
}

.coins {
  position: relative;
}

.coins__container {
  position: absolute;
  right: 10rem;
  top: 2.5rem;
}

.coins__container i {
  vertical-align: middle;
  color: var(--coin-yellow);
}

.coins__container span {
  color: #fff;
}

.window__container {
  display: flex;
  border: 12px solid var(--frame-color);
  height: 650px;
  margin-left: 2rem;
  max-width: 1367px;
  background-color: var(--window-color);
  align-items: center;
  justify-content: center;
}

.blinds__container {
  padding: 1.5rem;
  margin-left: 2rem;
  max-width: 1367px;
  background-color: var(--blinds-color);
  text-align: center;
}

.replacement {
  visibility: hidden;
}

/* Portrait tablets and large phones */
@media only screen and (min-width: 993px) {
  .window {
    margin-right: 18rem;
  }
  .blinds {
    margin-right: 18rem;
  }
}

@media (max-width: 575.98px) {
  .replacement {
    visibility: visible;
  }
}

@media (max-width: 767.98px) {
}

@media (max-width: 992.98px) {
  .window {
    margin-right: 15rem;
  }
  .blinds {
    margin-right: 15rem;
  }
  .todo__container {
    right: 3rem;
    padding: 6rem 3rem 6rem;
  }
  .coins__container {
    right: 7rem;
  }
}

/* Phones */
@media only screen and (max-width: 576px) {
  .window {
    margin-right: 2rem;
  }
  .blinds {
    margin-right: 2rem;
  }
  .todo__container {
    visibility: hidden;
  }
  .coins__container {
    visibility: hidden;
  }
}

@media (max-width: 1199.98px) {
}
